@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@font-face {
  font-family: Banny;
  src: url('./Banny-Round.otf');
}

:root {
  --prime-yellow: #e8c300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  color: #000;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

/********
  Header
*********/
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
}

.dark-back {
  background: rgba(0, 0, 0, 0.6);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  width: 150px;
  height: 150px;
}

.menu-icon {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 18px;
  height: 18px;
  top: 41px;
  right: 15px;
}

.menu-icon .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.nav ul {
  display: flex;
}

.nav li {
  list-style: none;
  width: 133px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav a {
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav a.active-navlink,
.nav a:hover {
  color: var(--prime-yellow);
}

/******
  Home
*******/
#home {
  background: url('./images/home-bg.jpg') no-repeat center center/cover;
  min-height: 100vh;
}

/***************
  Media Queries
****************/

/* 992px - 1280px */
/******************/
@media (max-width: 1279.98px) {
  /* Header */
  .nav li {
    width: 96px;
  }
}

/* 768px - 992px */
/******************/
@media (max-width: 991.98px) {
  /* Header */
  .nav li {
    width: 68px;
  }
}

/* 576px - 768px */
/******************/
@media (max-width: 767.98px) {
  /* Header */
  .logo img {
    width: 75px;
    height: 75px;
  }
  .nav li {
    width: 60px;
  }
  .nav a {
    font-weight: 400;
  }
}

/* 280px - 576px */
/******************/
@media (max-width: 575.98px) {
  /* Header */
  .header {
    min-height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .nav {
    display: none;
  }
  .logo {
    left: 50px;
  }
  .menu-icon {
    display: flex;
  }
  .nav ul {
    flex-direction: column;
    padding-top: 100px;
    width: 100%;
  }
  .nav li {
    width: 100%;
    height: auto;
  }
  .nav a {
    padding: 1rem 0;
  }
  .nav.show-nav {
    display: flex;
    width: 50%;
  }
}
