@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@font-face {
  font-family: Banny;
  src: url('./Banny-Round.otf');
}

:root {
  --prime-yellow: #e8c300;
  --second-yellow: #ffd600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  color: #000;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

/********
  Header
*********/
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
}

.dark-back {
  background: rgba(0, 0, 0, 0.6);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  width: 150px;
  height: 150px;
}

.menu-icon {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 18px;
  height: 18px;
  top: 41px;
  right: 15px;
}

.menu-icon .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.nav ul {
  display: flex;
}

.nav li {
  list-style: none;
  width: 133px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav a {
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.nav a.active-navlink,
.nav a:hover {
  color: var(--prime-yellow);
}

/******
  Home
*******/
#home {
  background: url('./images/home-bg.jpg') no-repeat center center/cover;
  min-height: 100vh;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 850px 1fr;
}

.home-left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-left p {
  color: #fff;
  font-weight: bold;
  transform: rotate(-90deg);
  position: absolute;
  display: inline-block;
  width: 260px;
}

.home-center {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: relative;
}

.caption {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5em;
  text-align: center;
}

h1 {
  font-family: Banny;
  font-size: 6rem;
  line-height: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 4rem 0 4.5rem 0;
  position: relative;
  margin-bottom: 1.9rem;
}

h1::after {
  content: url('./images/decoration.png');
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.home-buttons {
  display: flex;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
  text-align: center;
}

.btn.primary {
  background: var(--prime-yellow);
  color: #fff;
}

.btn.primary:hover {
  background: var(--second-yellow);
  color: #000;
}

.btn.ghost {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn.ghost:hover {
  background: #fff;
  color: #000;
}

.home-scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.home-scroll .top {
  height: calc(95vh - 260px);
  width: 1px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.round {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-chevron-circle-down {
  color: #fff;
  font-size: 2rem;
  transition: color 0.2s ease-in-out;
}

.round:hover .fa-chevron-circle-down {
  color: var(--second-yellow);
}

.home-scroll .bottom {
  height: 5vh;
  width: 1px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.home-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-right .round {
  margin: 10px 0;
}

.fab {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.2s ease-in-out;
}

.home-right .round:hover .fab {
  color: var(--second-yellow);
}

/*******
  About
********/
.about {
  background: #fff;
  min-height: 100vh;
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.about-left {
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
  padding: 0 40px;
}

h2 {
  font-family: Banny;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 1.5rem 0;
  position: relative;
  margin-bottom: 0.5rem;
}

h2::after {
  content: url('./images/decoration.png');
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.highlight {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.about-right {
  padding: 0 40px;
  position: relative;
}

.section-img {
  width: 85%;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
}

.yellow-rect {
  width: 250px;
  height: 250px;
  border: 20px solid var(--prime-yellow);
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/******
  Team
*******/
#team {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./images/team-bg.jpg') no-repeat center center/cover;
  min-height: 100vh;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.team-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 850px 1fr;
}

.team-linediv2 {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  height: 100vh;
  position: relative;
}

.team-centralline {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.team-left {
  padding: 0 40px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.team .section-img {
  width: 85%;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
}

.team .yellow-rect {
  width: 250px;
  height: 250px;
  border: 20px solid var(--prime-yellow);
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.team-right {
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
  padding: 0 40px;
}

.team-right h2 {
  color: #fff;
}

.team-right p {
  color: rgba(255, 255, 255, 0.9);
}

/*********
  Booking
**********/
#booking {
  background: #fff;
}

#booking .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 100px;
}

.booking {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.booking-left {
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
  padding: 0 40px;
}

#booking-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: 60px;
  grid-template-areas:
    'a b'
    'c d'
    'e f'
    'g g';
}

.booking-submit {
  grid-area: g;
}

#booking-form input,
#booking-form select {
  border: none;
  background: #e5e5e5;
  border-radius: 5px;
  padding: 0 20px;
}

.booking-submit {
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
  background: var(--prime-yellow);
  color: #fff;
  cursor: pointer;
}

.booking-submit:hover {
  background: var(--second-yellow);
  color: #000;
}

.booking-right {
  padding: 0 40px;
  position: relative;
}

p.work-hours {
  padding-top: 24px;
}

/***************
  Media Queries
****************/

/* 992px - 1280px */
/******************/
@media (max-width: 1279.98px) {
  /* Header */
  .nav li {
    width: 96px;
  }
}

/* 768px - 992px */
/******************/
@media (max-width: 991.98px) {
  /* Header */
  .nav li {
    width: 68px;
  }

  /* Home */
  #home {
    grid-template-columns: 1fr 648px 1fr;
  }
  h1 {
    font-size: 4rem;
    padding: 4rem 0 3rem 0;
    margin-bottom: 1.2rem;
  }

  /* About */
  .section-img {
    width: 100%;
  }
  .yellow-rect {
    width: 150px;
    height: 150px;
    border: 15px solid var(--prime-yellow);
  }

  /* Team */
  .team-lines {
    grid-template-columns: 1fr 648px 1fr;
  }
  .team .section-img {
    width: 100%;
  }
  .team .yellow-rect {
    width: 150px;
    height: 150px;
    border: 15px solid var(--prime-yellow);
  }

  /* Booking */
  .booking {
    grid-template-columns: 1fr;
  }
  .booking-right {
    display: none;
  }
}

/* 576px - 768px */
/******************/
@media (max-width: 767.98px) {
  /* Header */
  .logo img {
    width: 75px;
    height: 75px;
  }
  .nav li {
    width: 60px;
  }
  .nav a {
    font-weight: 400;
  }

  /* Home */
  #home {
    grid-template-columns: 1fr 496px 1fr;
  }
  .home-scroll .top {
    height: calc(95vh - 160px);
  }
  .round {
    width: 40px;
    height: 40px;
  }
  h1 {
    font-size: 3rem;
    padding: 2rem 0 2.25rem 0;
    margin-bottom: 0.9rem;
  }
  .btn {
    width: 150px;
    height: 40px;
    margin: 10px;
  }
  .fa-chevron-circle-down {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.2s ease-in-out;
  }
  .fab {
    font-size: 1rem;
  }

  /* About */
  .about {
    grid-template-columns: 1fr;
  }

  .about-left,
  .about-right {
    padding: 50px;
  }

  .section-img {
    width: 85%;
  }

  .yellow-rect {
    width: 250px;
    height: 250px;
    border: 20px solid var(--second-yellow);
  }

  /* Team */
  #team {
    padding-top: 150px;
  }
  .team-lines {
    grid-template-columns: 1fr 496px 1fr;
  }
  .team {
    grid-template-columns: 1fr;
  }

  .team-left,
  .team-right {
    padding: 50px;
  }

  .team .section-img {
    width: 85%;
  }

  .team .yellow-rect {
    width: 250px;
    height: 250px;
    border: 20px solid var(--second-yellow);
  }

  /* Booking */
  .booking-right {
    display: block;
    grid-row-start: 1;
  }
  .booking {
    grid-template-columns: 1fr;
  }
  .booking-left,
  .booking-right {
    padding: 50px 50px 0 50px;
  }
}

/* 280px - 576px */
/******************/
@media (max-width: 575.98px) {
  /* Header */
  .header {
    min-height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .nav {
    display: none;
  }
  .logo {
    left: 50px;
  }
  .menu-icon {
    display: flex;
  }
  .nav ul {
    flex-direction: column;
    padding-top: 100px;
    width: 100%;
  }
  .nav li {
    width: 100%;
    height: auto;
  }
  .nav a {
    padding: 1rem 0;
  }
  .nav.show-nav {
    display: flex;
    width: 50%;
  }

  /* Home */
  #home {
    grid-template-columns: 1fr 5fr 1fr;
  }

  h1 {
    line-height: normal;
  }
  .home-buttons {
    flex-direction: column;
  }

  /* About */
  .about-left,
  .about-right {
    padding: 25px 1rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  .about-left {
    line-height: normal;
  }

  .highlight {
    font-size: 1rem;
    line-height: normal;
  }

  .section-img {
    width: 100%;
  }

  .yellow-rect {
    display: none;
  }

  /* Team */
  .team-lines {
    grid-template-columns: 1fr 5fr 1fr;
  }

  .team-left,
  .team-right {
    padding: 25px 1rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  .team-right {
    line-height: normal;
  }

  .highlight {
    font-size: 1rem;
    line-height: normal;
  }

  .team .section-img {
    width: 100%;
  }

  .yellow-rect {
    display: none;
  }

  /* Booking */
  #booking-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-auto-rows: 40px;
    grid-template-areas:
      'a'
      'b'
      'c'
      'd'
      'e'
      'f'
      'g';
  }
  .booking-left,
  .booking-right {
    padding: 25px 1rem;
  }

  .work-hours {
    padding: 0 1rem;
    text-align: center;
  }
}
